<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click='hideModal()' aria-hidden="true">&times;</button>
                <h2 class="modal-title">{{title}}</h2>
            </div>
            <div class="modal-body">
                <div class='alert alert-danger' ng-show='showErrors'>
                    <ul>
                        <li data-ng-repeat="error in errors">
                            {{error}}
                        </li>
                    </ul>
                </div>
                <div class='modal-custom-content' ng-transclude></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click='hideModal()' ng-hide="hideCancel">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click='okClick()' ng-hide="hideOk">Save changes</button>
            </div>
        </div>
    </div>
</div>
