<h1>Delete Article</h1>
<div class="deletePrompt">
  <h2>{{article.title}}</h2>
  <div class="jumbotron">
    <span>Are you sure you wish to delete this article?  If so, the article will be deleted, and any pages configured to display the article will render incorrectly..</span>
    <span class="row">
        <a class="btn btn-default" href="#/list/{{categoryId}}">No, don't delete it.</a>
        <a class="btn btn-primary" data-ng-click="deleteArticle()">Yes, delete it.</a>
    </span>
  </div>
</div>