<h1>Articles</h1>
<div class="article-list">
    <div class="row">
        <ol class="breadcrumb">
            <li data-ng-repeat="category in previousCategories">
                <a data-ng-href="#/list/{{previousCategory.articleCategoryId || ''}}" href="#/list">
                    {{category.articleCategoryName}}
                </a>
            </li>
            <li>
                {{currentCategory.articleCategoryName}}
            </li>
        </ol>
    </div>
    <div data-ng-repeat="category in currentCategory.categories" class="category row" data-ng-click="selectCategory(category)">
        <div class="col-md-9 col-xs-12">
            <span class="glyphicon glyphicon-folder-close"></span>
            {{category.articleCategoryName}}
        </div>
        <div class="col-md-3 col-xs-12 button-group">
            <a class="btn btn-primary" href="#/editCategory/{{currentCategory.articleCategoryId}}/{{category.articleCategoryId}}">Edit</a>
            <a class="btn btn-danger" href="#/deleteCategory/{{currentCategory.articleCategoryId}}/{{category.articleCategoryId}}" data-ng-show="category.articles.length === 0 && category.categories.length === 0">Delete</a>
        </div>
    </div>  
    <div data-ng-repeat="article in currentCategory.articles" class="article row" data-ng-click="selectArticle(article)">
        <div class="col-md-9 col-xs-12">
            <span class="glyphicon glyphicon-file"></span>
            {{article.articleTitle}}
        </div>
        <div class="col-md-3 col-xs-12">
            <a class="btn btn-primary" href="#/editArticle/{{currentCategory.articleCategoryId}}/{{article.articleId}}">Edit</a>
            <a class="btn btn-danger" href="#/deleteArticle/{{currentCategory.articleCategoryId}}/{{article.articleId}}">Delete</a>
        </div>
    </div>
    <div class="action row">
        <div class="col-md-12 col-xs-12">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="glyphicon glyphicon-folder-close"></span>
            <a href="#/addCategory/{{currentCategory.articleCategoryId}}">Add new category</a>
        </div>
    </div>
    <div class="action row">
        <div class="col-md-12 col-xs-12">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="glyphicon glyphicon-file"></span>
            <a href="#/addArticle/{{currentCategory.articleCategoryId}}">Add new article</a>
        </div>
    </div>
    <div class="navigation row">
        <div class="col-md-12 col-xs-12">
            <a data-ng-show="previousCategory" data-ng-href="#/list/{{previousCategory.articleCategoryId || ''}}" href="#/list">
                < Back to {{previousCategory.articleCategoryName}}
            </a>
        </div>
    </div>
</table>