<h1>New Article</h1>
<form role="form">
  <div class="form-group">
    <label for="articleTitle">Title</label>
    <input type="text" class="form-control" id="articleTitle" placeholder="Enter a title" data-ng-model="article.title">
  </div>
  <div class="form-group">
    <label for="articleSummary">Summary</label>
    <input type="text" class="form-control" id="articleSummary" placeholder="Enter a summary" data-ng-model="article.summary">
  </div>
  <div class="form-group">
    <label for="articleContent">Content</label>
    <textarea id="articleContent" ckeditor data-ng-model="article.content"></textarea>
  </div>
  <div data-ng-repeat="error in errors" class="alert alert-danger">
    {{error}}
  </div>
  <a class="btn btn-default" href="#/list/{{categoryId}}">Cancel</a>
  <a class="btn btn-primary" data-ng-click="addArticle()">OK</a>
</form>
