@import "compass/reset";
@import "_variables";

$page-accent-color: rgba(0,106,193,1);

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  min-width: 800px;
}

h1 {
    font-size: 120%;
    font-weight: bold;
    margin: 5px 0px;
}

.albums-body {
	.ng-view {
		width: 90%;
		margin-left:auto;
		margin-right:auto;
	}

    .form-group {
        label {
            background-color: $page-accent-color;
            color: #FFF;
            padding: 8px 15px;
            border-radius: 4px;
            font-size: 110%;
            font-weight: bold;
            margin: 5px 0px;
            width: 100%;
        }
    }

    .deletePrompt {
        h2 {
            background-color: $page-accent-color;
            color: #FFF;
            padding: 8px 15px;
            border-radius: 4px;
            font-size: 110%;
            font-weight: bold;
            margin: 5px 0px;
            width: 100%;
        }
    }

	.album-list {
        & .breadcrumb {
            background-color: $page-accent-color;
            color: #FFF;

            & a {
                color: #FFF;
                cursor: pointer;
            }
        }

        & .category.row,
        & .page.row {
            padding: $padding-small-vertical $padding-small-horizontal;
            margin-bottom: 2px;
    		border-bottom: 1px solid #ddd;

            &:hover
            {
                background-color: transparentize($page-accent-color, 0.8);  
                cursor: pointer;
            }
	   }

       & .action.row {
            padding: $padding-small-vertical $padding-small-horizontal;
            margin-bottom: 2px;
            border-bottom: 1px solid #ddd;
       }

       & .navigation.row {
            padding: $padding-small-vertical $padding-small-horizontal;
            margin-top: 10px;
        }
    }
	
	ul.image-preview {
		overflow:hidden;

		& > li {
			line-height: 100px;
			height: 115px;
			width: 115px;
			float: left;
			margin: 5px;
			padding: 5px;
			border: 1px solid #ccc;
			border-radius: 4px;
			text-align: center;
			position: relative;

			& .glyphicon-pencil {
				position: absolute;
				top: 70px;
				left: 95px;
				background-color: white;
			}

			& .glyphicon-trash {
				position: absolute;
				top: 90px;
				left: 95px;
				background-color: white;
			}

			& img {
				max-width:100px;
				max-height:100px;
				vertical-align: middle;
			}
			
			& input {
				position: absolute;
				top: 90px;
				left: 90px;
			}
		}
	}
}