@import "compass/reset";
@import "_variables";

$page-accent-color: rgba(119,185,0,1);

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  min-width: 800px;
}

h1 {
    font-size: 120%;
    font-weight: bold;
    margin: 5px 0px;
}

.articles-body {
    .ng-view {
        width: 90%;
        margin-left:auto;
        margin-right:auto;
    }

    .form-group {
        label {
            background-color: $page-accent-color;
            color: #FFF;
            padding: 8px 15px;
            border-radius: 4px;
            font-size: 110%;
            font-weight: bold;
            margin: 5px 0px;
            width: 100%;
        }
    }

    .deletePrompt {
        h2 {
            background-color: $page-accent-color;
            color: #FFF;
            padding: 8px 15px;
            border-radius: 4px;
            font-size: 110%;
            font-weight: bold;
            margin: 5px 0px;
            width: 100%;
        }
    }

    .btn-primary
    {
        background-color: $page-accent-color;
        border-color: darken($page-accent-color, 5%);
    }

    .btn-primary:hover, 
    .btn-primary:focus, 
    .btn-primary:active, 
    .btn-primary.active, 
    .open 
    .dropdown-toggle.btn-primary,
    {
        background-color: darken($page-accent-color, 10%);
    }

    .article-list {
        & .breadcrumb {
            background-color: $page-accent-color;
            color: #FFF;

            & a {
                color: #FFF;
                cursor: pointer;
            }
        }

        & .category.row,
        & .article.row {
            padding: $padding-small-vertical $padding-small-horizontal;
            margin-bottom: 2px;
            border-bottom: 1px solid #ddd;

            &:hover
            {
                background-color: transparentize($page-accent-color, 0.8);  
                cursor: pointer;
            }
       }

       & .action.row {
            padding: $padding-small-vertical $padding-small-horizontal;
            margin-bottom: 2px;
            border-bottom: 1px solid #ddd;
       }

       & .navigation.row {
            padding: $padding-small-vertical $padding-small-horizontal;
            margin-top: 10px;
        }
    }
}