<h1>Delete Page</h1>
<div class="deletePrompt">
  <h2>{{page.title}}</h2>
  <div class="jumbotron">
    <span>Are you sure you wish to delete this page?  If so, the page will be deleted, and any requests for the url ({{page.url}}) will redirect to the site home page.</span>
    <span class="row">
        <a class="btn btn-default" href="#/list/{{categoryId}}">No, don't delete it.</a>
        <a class="btn btn-primary" data-ng-click="deletePage()">Yes, delete it.</a>
    </span>
  </div>
</div>