<h1>Edit Page</h1>
<form role="form">
  <div class="form-group">
    <label for="pageTitle">Title</label>
    <input type="text" class="form-control" id="pageTitle" placeholder="Enter a title" data-ng-model="page.title">
  </div>
  <div class="form-group">
    <label for="pageUrl">Url</label>
    <input type="text" class="form-control" id="pageUrl" placeholder="Enter a url" data-ng-model="page.url">
  </div>
  <div class="form-group">
    <label for="pageMetaDescription">Meta Description</label>
    <input type="text" class="form-control" id="pageMetaDescription" placeholder="Enter a meta description" data-ng-model="page.metaDescription">
  </div>
  <div class="form-group">
    <label for="pageMetaDescription">Meta Keywords</label>
    <input type="text" class="form-control" id="pageMetaKeywords" placeholder="Enter meta keywords" data-ng-model="page.metaKeywords">
  </div>
  <div class="form-group">
    <label for="pageTemplate">Template</label>
    <select class="form-control" data-ng-model="page.pageTemplateId" data-ng-options="t.pageTemplateId as t.name for t in pageTemplates"></select>
  </div>
  <div class="form-group" data-ng-repeat="view in page.views">
    <label for="pageView_{{view.key}}">{{view.key}}</label>
    <input type="text" class="form-control" id="pageView_{{view.key}}" placeholder="Enter a value" data-ng-model="view.value" data-ng-if="showTextField(view.key)">
    <select class="form-control" id="pageView_{{view.key}}" data-ng-model="view.valueId" data-ng-options="c.pageCategoryId as c.name group by c.parentCategoryName for c in pageCategories" data-ng-if="showPageCategorySelector(view.key)">
        <option value="">-- Please select a page category --</option>
    </select>
    <select class="form-control" data-ng-model="view.valueId" data-ng-options="a.articleId as a.name group by a.articleCategoryName for a in articles" data-ng-if="showArticleSelector(view.key)">
        <option value="">-- Please select an article --</option>
    </select>
    <select class="form-control" data-ng-model="view.valueId" data-ng-options="i.imageListId as i.name group by i.imageListCategoryName for i in imageLists" data-ng-if="showImageListSelector(view.key)">
        <option value="">-- Please select an image list --</option>
    </select>
  </div>
  <div data-ng-repeat="error in errors" class="alert alert-danger">
    {{error}}
  </div>
  <a class="btn btn-default" href="#/list/{{categoryId}}">Cancel</a>
  <a class="btn btn-primary" data-ng-click="editPage()">OK</a>
</form>
