<h1>Pages</h1>
<div class="page-list">
	<div class="row">
		<ol class="breadcrumb">
			<li data-ng-repeat="category in previousCategories">
				<a data-ng-href="#/list/{{category.pageCategoryId || ''}}">
					{{category.pageCategoryName}}
				</a>
			</li>
			<li>
				{{currentCategory.pageCategoryName}}
			</li>
		</ol>
		<button class="btn btn-info btn-xs pull-right" data-ng-click="showDeleted = !showDeleted" data-ng-show="deletedPageCount > 0">
			<span data-ng-if="!showDeleted">Show</span> <span data-ng-if="showDeleted">Hide</span> deleted pages
		</button>
	</div>
	<div data-ng-repeat="category in currentCategory.categories" class="category row" data-ng-click="selectCategory(category)">
		<div class="col-md-9 col-xs-12">
			<span class="glyphicon glyphicon-folder-close"></span>
			{{category.pageCategoryName}}
		</div>
		<div class="col-md-3 col-xs-12 button-group">
			<a class="btn btn-primary" href="#/editCategory/{{currentCategory.pageCategoryId}}/{{category.pageCategoryId}}">Edit</a>
			<a class="btn btn-danger" href="#/deleteCategory/{{currentCategory.pageCategoryId}}/{{category.pageCategoryId}}" data-ng-show="category.pages.length === 0 && category.categories.length === 0">Delete</a>
		</div>
	</div>	
	<div data-ng-repeat="page in currentCategory.pages | filter:shouldShowPage" class="page row" data-ng-click="selectPage(page)">
		<div class="col-md-9 col-xs-12">
			<span class="glyphicon glyphicon-file"></span>
			{{page.pageTitle}}
		</div>
		<div class="col-md-3 col-xs-12">
			<a class="btn btn-primary" href="#/editPage/{{currentCategory.pageCategoryId}}/{{page.pageId}}">Edit</a>
			<a class="btn btn-danger" href="#/deletePage/{{currentCategory.pageCategoryId}}/{{page.pageId}}">Delete</a>
		</div>
	</div>
	<div class="action row">
		<div class="col-md-12 col-xs-12">
			<span class="glyphicon glyphicon-plus"></span>
			<span class="glyphicon glyphicon-folder-close"></span>
			<a href="#/addCategory/{{currentCategory.pageCategoryId}}">Add new category</a>
		</div>
	</div>
	<div class="action row">
		<div class="col-md-12 col-xs-12">
			<span class="glyphicon glyphicon-plus"></span>
			<span class="glyphicon glyphicon-file"></span>
			<a href="#/addPage/{{currentCategory.pageCategoryId}}">Add new page</a>
		</div>
	</div>
	<div class="navigation row">
		<div class="col-md-12 col-xs-12">
			<a data-ng-show="previousCategory" data-ng-href="#/list/{{previousCategory.pageCategoryId || ''}}" href="#">
				< Back to {{previousCategory.pageCategoryName}}
			</a>
		</div>
	</div>
</table>