<h1>Delete Album</h1>
<div class="deletePrompt">
  <h2>{{album.title}}</h2>
  <div class="jumbotron">
    <span>Are you sure you wish to delete this image gallery?  If so, the image gallery will be deleted, and any pages referencing ({{album.title}}) will fail.</span>
    <span class="row">
        <a class="btn btn-default" href="#/list/{{categoryId}}">No, don't delete it.</a>
        <a class="btn btn-primary" data-ng-click="deleteAlbum()">Yes, delete it.</a>
    </span>
  </div>
</div>