<h1>Edit Album</h1>
<form role="form">
    <div class="form-group">
        <label for="albumTitle">Title</label>
        <input type="text" class="form-control" id="albumTitle" placeholder="Enter a title" data-ng-model="album.title">
    </div>
    <div class="form-group">
        <label for="albumWidth">Width</label>
        <input type="text" class="form-control" id="albumWidth" placeholder="Enter a width" data-ng-model="album.height">
    </div>
    <div class="form-group">
        <label for="albumHeight">Width</label>
        <input type="text" class="form-control" id="albumHeight" placeholder="Enter a height" data-ng-model="album.width">
    </div>
    <div class="form-group">
        <label>Images</label>
        <ul class="image-preview">
            <li data-ng-repeat="image in album.images">
                <img ng-src="{{image.thumb}}" />
                <a data-ng-click="editImage($index)"><span class="glyphicon glyphicon-pencil"></span></a>
                <a data-ng-click="removeImage($index)"><span class="glyphicon glyphicon-trash"></span></a>
            </li>
            <li>
                <a ng-click="showAvailableImages()"><span class="glyphicon glyphicon-plus"></span></a>
            </li>
        </ul>
    </div>
    <div class="alert alert-danger" ng-show="showErrors">
        <ul>
            <li data-ng-repeat="error in errors">{{error}}</li>
        </ul>
    </div>
    <a class="btn btn-default" href="#/list/{{categoryId}}">Cancel</a>
    <a class="btn btn-primary" data-ng-click="editAlbum()">OK</a>
    <modal-dialog hide-ok='true' title="Select an image" show="imageModalShown" errors="imageSelectErrors">
        <ul class="image-preview">
            <li data-ng-repeat="image in images">
                <img ng-src="{{image.thumb}}" ng-click="addImage(image)" />
            </li>
        </ul>
    </modal-dialog>


</form>
