<h1>Albums</h1>
<div class="album-list">
	<div class="row">
		<ol class="breadcrumb">
			<li data-ng-repeat="category in previousCategories">
				<a data-ng-href="#/list/{{category.albumCategoryId || ''}}">
					{{category.albumCategoryName}}
				</a>
			</li>
			<li>
				{{currentCategory.albumCategoryName}}
			</li>
		</ol>
		<button class="btn btn-info btn-xs pull-right" data-ng-click="showDeleted = !showDeleted" data-ng-show="deletedAlbumCount > 0">
			<span data-ng-if="!showDeleted">Show</span> <span data-ng-if="showDeleted">Hide</span> deleted image galleries
		</button>
	</div>
	<div data-ng-repeat="category in currentCategory.categories" class="category row" data-ng-click="selectCategory(category)">
		<div class="col-md-9 col-xs-12">
			<span class="glyphicon glyphicon-folder-close"></span>
			{{category.albumCategoryName}}
		</div>
		<div class="col-md-3 col-xs-12 button-group">
			<a class="btn btn-primary" href="#/editCategory/{{currentCategory.albumCategoryId}}/{{category.albumCategoryId}}">Edit</a>
			<a class="btn btn-danger" href="#/deleteCategory/{{currentCategory.albumCategoryId}}/{{category.albumCategoryId}}" data-ng-show="category.albums.length === 0 && category.categories.length === 0">Delete</a>
		</div>
	</div>	
	<div data-ng-repeat="album in currentCategory.albums | filter:shouldShowAlbum" class="album row" data-ng-click="selectAlbum(album)">
		<div class="col-md-9 col-xs-12">
			<span class="glyphicon glyphicon-file"></span>
			{{album.albumTitle}}
		</div>
		<div class="col-md-3 col-xs-12">
			<a class="btn btn-primary" href="#/editAlbum/{{currentCategory.albumCategoryId}}/{{album.albumId}}">Edit</a>
			<a class="btn btn-danger" href="#/deleteAlbum/{{currentCategory.albumCategoryId}}/{{album.albumId}}">Delete</a>
		</div>
	</div>
	<div class="action row">
		<div class="col-md-12 col-xs-12">
			<span class="glyphicon glyphicon-plus"></span>
			<span class="glyphicon glyphicon-folder-close"></span>
			<a href="#/addCategory/{{currentCategory.albumCategoryId}}">Add new category</a>
		</div>
	</div>
	<div class="action row">
		<div class="col-md-12 col-xs-12">
			<span class="glyphicon glyphicon-plus"></span>
			<span class="glyphicon glyphicon-file"></span>
			<a href="#/addAlbum/{{currentCategory.albumCategoryId}}">Add new album</a>
		</div>
	</div>
	<div class="navigation row">
		<div class="col-md-12 col-xs-12">
			<a data-ng-show="previousCategory" data-ng-href="#/list/{{previousCategory.albumCategoryId || ''}}" href="#">
				< Back to {{previousCategory.albumCategoryName}}
			</a>
		</div>
	</div>
</div>