<h1>New Category</h1>
<form role="form">
  <div class="form-group">
    <label for="categoryName">Name</label>
    <input type="text" class="form-control" id="categoryName" placeholder="Enter a name" data-ng-model="categoryName">
  </div>
  <div data-ng-repeat="error in errors" class="alert alert-danger">
    {{error}}
  </div>
  <a class="btn btn-default" href="#/list/{{parentCategoryId}}">Cancel</a>
  <a class="btn btn-primary" data-ng-click="addCategory()">OK</a>
</form>